#navbar{
    background-color: aqua;
    overflow: hidden;
    text-align: center;
    
}

/* Navbar link styling */
#navbar a {
    padding-left: 2em;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

#main{
    background-color: blue;
}

#skills{
    background-color: yellow;
}

#projects{
    background-color: tomato;
}

#contact{
    background-color: teal;
}

#footer{
    background-color: brown;
}