#navbar{
    background-color: aqua;
    overflow: hidden;
    text-align: center;
    
}

/* Navbar link styling */
#navbar a {
    padding-left: 2em;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

#skills{
    background-color: yellow;
    float: left;
    width: 20%;
    height: 120vh;
}

#main{
    background-color: blue;
    height: 25vh;
    width: 80%;
    float: right;
}

#projects{
    background-color: tomato;
    height: 25vh;
    width: 80%;
    float: right;
}

#contact{
    background-color: teal;
    height: 25vh;
    width: 80%;
    float: right;
}

#footer{
    background-color: brown;
    height: 25vh;
    width: 80%;
    float: right;
}