#navbar{
    background-color: aqua;
    
}

#main{
    background-color: blue;
}

#skills{
    background-color: yellow;
}

#projects{
    background-color: tomato;
}

#contact{
    background-color: teal;
}

#footer{
    background-color: brown;
}